/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */

body {
    border: 1px black dashed;
    width: 512px;
    background-color:  #14237c;
}

/* Header
 */
header>img{
    width: 100%;
    display: block;
}
/* Main settingd */

main{
    min-height: 500px;
    background-color: #14237c;
}

div{
    text-align: center;
    height: 300px;
    color: white;
    width: 400px;
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 200px;
}

h1 {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 30px;
}

/* Button reset */

button{
    border: none;
    width: 400px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}

p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0 30px;
}

.button-2{
    background-color: #5268e2;
    color: white;
}

section{
    min-height: 600px;
    width: 400px;
    margin: 0 auto;
    color:white;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    margin-bottom: 10px;
    background-color:#5268e2;
    border-radius: 25px;
    text-align: left;
    margin-bottom: 100px;
}

.article-1{
    padding-left: 22px;
    padding-top: 70px;
    position: relative;
    padding-bo
}

.p-2{
    line-height: 20px;
    padding-left: 0;
}

h2{
    padding-right: 135px;
    margin-bottom: 20px;
}

.article-1>img{
    max-width: 360px;
    border-radius: 40px;
    padding-top: 15px;
    height: 280px;
}

/* Position */

.upper-img{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

}

.upper-img>img{
    height: 80px;
    width: 80px;
}
