/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header>img{
    width: 100%;
    display: block;
}

main{
    min-height: 500px;
    background-color: #14237c;
}

div{
    text-align: center;
    height: 300px;
    color: white;
    width: 300px;
    margin: 0 auto;
    padding-top: 80px;
}

h1 {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}
